//variables
//font
$headFont: "Josefin Slab", serif;
$bodyFont: "Lato", sans-serif;
//color
$lightBlue: #e3f4f3;
$neonGreen: #cfff31;
$violet: #6056f9;
$black: #000000;

//base styles
html {
  font-size: 125%;
}

body {
  height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.App {
  background-color: $violet;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: $headFont;
  margin: 0;
}
p,
a,
li,
label,
input,
button {
  font-family: $bodyFont;
  font-size: 1rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $black;
}

button {
  background-color: $neonGreen;
  margin: 10px;
  padding: 10px;

  &:hover {
    transition: 0.3s;
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1);
  }
}

//header styles
header {
  height: 25vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $violet;
    font-size: 3rem;
    letter-spacing: 0.2rem;

    span {
      position: relative;
      text-shadow: 0px 0px 30px $neonGreen;
    }
    span:nth-child(2n) {
      top: -5px;
    }
    span:nth-child(3n) {
      top: 5px;
    }
    span:nth-child(4n) {
      top: -2px;
    }
    span:nth-child(7) {
      top: -8px;
    }
    span:nth-child(9) {
      top: -8px;
    }
    span:nth-child(10) {
      top: 10px;
    }
    span:nth-child(11) {
      top: -10px;
    }
    span:last-child {
      top: 20px;
      right: 10px;
      color: transparent;
      font-size: 6rem;
      font-weight: bold;
      text-shadow: 0 0 15px $neonGreen, 5px 5px 30px $neonGreen;
    }
  }
}

//main styles
main {
  min-height: 50vh;
  padding: 40px;
  // overflow-y: auto;
  h2 {
    font-size: 2rem;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 0 10px $black;
  }
  h3 {
    font-size: 1.5rem;
    padding: 10px; 
  }
  .timerBar {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neonGreen;
    background-color: $black;
    padding: 5px;
    font-size: 1.8rem;
    border-radius: 10px;
    .minute,
    .second {
      width: 80px;
      display: block;
    }
  }
  .questionCount,
  .scoreCount {
    text-transform: uppercase;
  }
}

.miniQuiz {
  padding: 20px;
  background-color: $lightBlue;
  margin: 20px auto;
  border-radius: 10px;

  .definition,
  button {
    font-size: 1.2rem;
  }

  .definition::first-letter {
    text-transform: uppercase;
  }

  button {
    margin: 10px 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.arcadeContainer {
  h2 {
    color: $neonGreen;
    span {
      position: relative;
    }
    span:nth-child(2n) {
      top: 5px;
    }
    span:nth-child(5n) {
      top: -5px;
    }
  }
  button {
    color: $violet;
    font-size: 1.5rem;
    margin: 10px 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.gameOver {
  h2 {
    color: $neonGreen;
    span {
      position: relative;
    }
    span:nth-child(2n) {
      top: 5px;
    }
    span:nth-child(3n) {
      top: -5px;
    }
  }
  label,
  input {
    margin: 10px;
    padding: 10px;
  }

  input {
    background-color: $lightBlue;
    border: 3px solid $neonGreen;
  }

  input,
  button {
    border-radius: 10px;
  }
}

.leaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $neonGreen;

    span {
      position: relative;
    }
    span:nth-child(2n) {
      top: -5px;
    }
    span:nth-child(3n) {
      top: 5px;
    }
    span:nth-child(4n) {
      top: -2px;
    }
    span:nth-child(7) {
      top: -8px;
    }
  }

  ul {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    li {
      width: 100%;
      margin: 5px;
      padding: 5px;
      display: flex;
      background-color: $lightBlue;
      border-radius: 10px;
    }
    h4,
    span {
      width: 25%;
    }
    h4 {
      text-transform: uppercase;
    }
  }
}
//footer styles
footer {
  height: 25vh;
  background-color: $neonGreen;
  padding: 20px 0;

  h2 {
    color: $violet;
    text-transform: uppercase;
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  a {
    color: $violet;
    font-size: 0.8rem;
    &:hover,
    &:focus {
      color: $black;
    }
  }

  div {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}


//Animationo Experiment

@keyframes    firework-animation {
  0% {background-color : #ff8426;}
  25% {background-color : #fffc84;}
  50% {background-color : #ff83f4;}
  75% {background-color : #83b6ff;}
  100% {background-color : #ff8426;}
}
@-webkit-keyframes firework-animation {
  0% {background-color : #ff8426;}
  25% {background-color : #fffc84;}
  50% {background-color : #ff83f4;}
  75% {background-color : #83b6ff;}
  100% {background-color : #ff8426;}
}
.fireWorkParticle {
  z-index : 999;
  position: absolute;
  height : 5px;
  width : 5px;
  border-radius : 5px;
  animation-name : firework-animation;
  animation-timing-function : linear;
  animation-duration : 1s;
  animation-iteration-count : infinite;
}