//variables
//font
$headFont: "Josefin Slab", serif;
$bodyFont: "Lato", sans-serif;
//color
$lightBlue: #e3f4f3;
$neonGreen: #cfff31;
$violet: #6056f9;
$black: #000000;

//base styles
html {
  font-size: 125%;
}

body {
  height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.App {
  background-color: $violet;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: $headFont;
  margin: 0;
}
p,
a,
li,
label,
input,
button {
  font-family: $bodyFont;
  font-size: 1rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $black;
}

button {
  background-color: $neonGreen;
  margin: 10px;
  padding: 10px;

  &:hover {
    transition: 0.3s;
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1);
  }
}

//header styles
header {
  min-height: 25vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $violet;
    font-size: 3rem;
    letter-spacing: 0.2rem;

    span {
      position: relative;
      text-shadow: 0px 0px 30px $neonGreen;
    }
    span:nth-child(2n) {
      top: -5px;
    }
    span:nth-child(3n) {
      top: 5px;
    }
    span:nth-child(4n) {
      top: -2px;
    }
    span:nth-child(7) {
      top: -8px;
    }
    span:nth-child(9) {
      top: -8px;
    }
    span:nth-child(10) {
      top: 10px;
    }
    span:nth-child(11) {
      top: -10px;
    }
    span:last-child {
      top: 20px;
      right: 10px;
      color: transparent;
      font-size: 6rem;
      font-weight: bold;
      text-shadow: 0 0 15px $neonGreen, 5px 5px 30px $neonGreen;
    }
  }
}

//main styles
main {
  min-height: 50vh;
  padding: 40px;
  // overflow-y: auto;
  h2 {
    font-size: 2rem;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 0 10px $black;
  }
  h3 {
    font-size: 1.5rem;
    padding: 10px;
  }
  .timerBar {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neonGreen;
    background-color: $black;
    padding: 5px;
    font-size: 1.8rem;
    border-radius: 10px;
    .minute,
    .second {
      width: 80px;
      display: block;
    }
  }
  .questionCount,
  .scoreCount {
    text-transform: uppercase;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
//landing page styles
.arcadeContainer {
  h2 {
    color: $neonGreen;
    span {
      position: relative;
    }
    span:nth-child(2n) {
      top: 5px;
    }
    span:nth-child(5n) {
      top: -5px;
    }
  }
  p {
    font-size: 1.2rem;
  }
  button {
    color: $violet;
    font-size: 1.5rem;
    margin: 10px 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;
  }
}
//mini quiz styles
.miniQuizContainer{
  position: relative;
  overflow: hidden;
}

.quizContainer {
  overflow: hidden;
}

.bufferContainer{

  position: absolute;
  width: 100%;
  top: 0;
  left: 101%;
  background-color:purple;
  
}

.spinWheelContainer {
  margin: auto;
}
.miniQuiz {
  background-color: $lightBlue;
  padding: 20px 20px 40px;
  margin: 20px auto;
  border-radius: 10px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  .definition,
  button {
    font-size: 1.2rem;
  }

  .definition::first-letter {
    text-transform: uppercase;
  }

  button {
    padding: 20px;
    margin: 10px 50px;
    width: 150px;
    border-radius: 10px;
  }
  
}

.correct {
  transform: translateX(-101%);
  background-color: green;
  transition: transform 1s, background-color 0.25s;
}

.incorrect {
  transform: translateX(-101%);
  background-color: red;
  transition: transform 1s, background-color 0.25s;
}

.bufferContainer .correct,
.bufferContainer .incorrect{
  background-color: #e3f4f3;
}

//game finishing styles
.gameOver {
  h2 {
    color: $neonGreen;
    span {
      position: relative;
    }
    span:nth-child(2n) {
      top: 5px;
    }
    span:nth-child(3n) {
      top: -5px;
    }
  }
  form {
    padding: 30px 0;
  }
  label,
  input,
  button {
    margin: 10px;
    padding: 10px;
  }
  label {
    color: $neonGreen;
    text-transform: uppercase;
  }
  input {
    background-color: $lightBlue;
    border: 3px solid $neonGreen;
  }
  input,
  button {
    border-radius: 10px;
  }
}

.drawer {
  height: 100vh;
  width: 5vw;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  h2.vertical {
    color: $neonGreen;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-weight: bold;
      text-shadow: 0 0 10px $black;
    }
  }
  &:hover h2.vertical,
  &:focus h2.vertical{
    opacity: 1;
    transform: scale(1.05);
    animation: bounce 1s ease-in-out infinite;
  }
  @keyframes bounce {
    0% {
      translate: 0px 0px;
    }
    50% {
      translate: 0px 7px;
    }
    100% {
      translate: 0px 0px;
    }
  }
}
main .leaderBoard,
.leaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $violet;
  padding: 30px;
  border-radius: 10px;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  left: 100%;
  img {
    max-width: 250px;
    width: 40%;
    min-width: 120px;
  }
  h2 {
    color: $neonGreen;
    font-size: 2rem;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 0 10px $black;

    span {
      position: relative;
    }
    span:nth-child(2n) {
      top: -5px;
    }
    span:nth-child(3n) {
      top: 5px;
    }
    span:nth-child(4n) {
      top: -2px;
    }
    span:nth-child(7) {
      top: -8px;
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    li {
      width: 100%;
      margin: 5px;
      padding: 5px;
      display: flex;
      background-color: $lightBlue;
      border-radius: 10px;
    }
    li:nth-child(1){
      background-color: transparent;
    }
    li:nth-child(2){
      background-image: 
        radial-gradient( at top left,goldenrod,transparent ),
        radial-gradient( at bottom right,goldenrod,transparent );
    }
    li:nth-child(3){
      background-image: 
      radial-gradient( at top left,silver,transparent ),
      radial-gradient( at bottom right,silver,transparent );
    }
    li:nth-child(4){
      background-image: 
      radial-gradient( at top left,#da8a67,transparent ),
      radial-gradient( at bottom right,#da8a67,transparent );
    }
    h4,
    span {
      width: 25%;
    }
    h4 {
      color: $neonGreen;
      text-shadow: 0 0 5px $black;
      text-transform: uppercase;
    }
  }
}

.leaderBoard.active {
  transform: translateX(-100%);
}

.spinWheelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinWheel {
  border: 16px solid $violet;
  border-top: 16px solid $neonGreen;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

//footer styles
footer {
  min-height: 25vh;
  background-color: $neonGreen;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: $violet;
    text-transform: uppercase;
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  a {
    color: $violet;
    font-size: 0.8rem;
    &:hover,
    &:focus {
      color: $black;
    }
  }

  div {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

//////////////////////////////////////////////////////
////////////////// media query styles//////////////////
//////////////////////////////////////////////////////
@media (max-width:925px) {
  .leaderBoard {
    h2 {
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
    }
  }
}

@media (max-width:780px) {
  main {
    .timer {
      font-size: 1.5rem;
      .minute,
      .second {
        width: 50px;
      }
    }
    .questionCount,
    .scoreCount {
      font-size: 1rem;
    }
  }

  .miniQuiz {
    .definition,
    button {
    font-size: 1rem;
    }
    button {
      margin: 10px 10px;
    }
  }
  .leaderBoard {
    width: 75vw;
  }
}

@media (max-width:620px) {
  header {
    h1 {
      font-size: 2rem;
      span:last-child {
        position: absolute;
        top: 40px;
        right: 40%;
        text-shadow: 0 0 15px $neonGreen, 5px 5px 30px $neonGreen;
      }
    }
  }
  main {
    h2 {
      font-size: 1.5rem;
      padding: 20px 0px;
      letter-spacing: 0.2rem;
      text-shadow: 0 0 8px $black;
    }
    .timer {
      font-size: 1.5rem;
      .minute,
      .second {
        width: 40px;
      }
    }
  }
  .gameOver {
    form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
  .leaderBoard {
    width: 100vw;
  }
}

@media (max-width:530px) {

  main {
    padding: 20px 10px 20px;
    .timerBar {
      flex-direction: column;
      align-items: center;
    }
  }
  .miniQuiz {
    padding: 10px;
    div {
      display: flex;
      flex-direction: column;
    }
    button {
      padding: 15px;
      margin: 5px;
    }
  }
  
  .drawer {
    width: 8vw;
  }
  .leaderBoard {
    li,
    h4 {
      font-size: 0.8rem;
    }
  }
}

@media (max-width:420px) {
  header {
    h1 {
      font-size: 1.5rem;
      letter-spacing: 0rem;
      span:last-child {
        position: absolute;
        top: 40px;
        right: 40%;
        text-shadow: 0 0 15px $neonGreen, 5px 5px 30px $neonGreen;
      }
    }
  }
  .arcadeContainer {
    p {
      font-size: 1rem;
    }
  }
  .miniQuiz {
    .definition {
      font-size: 0.9rem;
    }
    
  }
  .leaderBoard {
    h2 {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
    }
  }

  footer {
    div {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      section {
        align-items: center;
      }
    }  
  }
}
